<button type="button" onclick="closeAd()">Close</button>
<button type="button" onclick="redirect()">Redirect</button>

<script>
  function closeAd() {
    Android.closeAd();
  }

  function redirect() {
    Android.openUrl("http://www.google.com");  
  }
</script>