<!DOCTYPE html>
<html>
  <body>

    <button type="button" onClick="Android.noAd()">No Ad</button>
    <button type="button" onClick="Android.completeAd()">Complete Ad</button>
    <button type="button" onClick="Android.closeAd()">Close A</button>

    <iframe id="ytplayer" type="text/html" width="720" height="405"
src="https://www.youtube.com/embed/M7lc1UVf-VE?controls=0&showinfo=0"
frameborder="0" allowfullscreen>

  </body>
</html>
