<!DOCTYPE html>
<html>
  <body>

    <button type="button" onClick="Android.noAd()">No Ad</button>
    <button type="button" onClick="Android.completeAd()">Complete Ad</button>
    <button type="button" onClick="Android.closeAd()">Close Ad</button>

  </body>
</html>
