<% provide(:title, 'Beta') %>

<section>

  <a href="itms-services://?action=download-manifest&url=https://s3.amazonaws.com/Heard_inHouse/manifest.plist" class="beta-link">Download Waved for iPhone</a>

</section><!-- #content -->