<% provide(:title, 'Beta') %>

<section>

  <a href="itms-services://?action=download-manifest&url=https://s3.amazonaws.com/Heard_inHouse/manifest.plist" id="beta-link"></a>

  <p style="font-family:helvetica;font-size:60px;" id="beta-label">You need an iPhone to download the beta!</p>

</section><!-- #content -->

<script type="text/javascript">
  var uagent = navigator.userAgent.toLowerCase();

  if (uagent.search("iphone") > -1 || uagent.search("ipad") > -1) {
    document.getElementById('beta-link').click();
    document.getElementById('beta-label').remove();
  } 

  document.getElementById('beta-link').remove();
</script>