<% provide(:title, 'Beta') %>

<section>

  <a href="itms-services://?action=download-manifest&url=https://s3.amazonaws.com/Heard_inHouse/manifest.plist" style="font-family:helvetica;font-size:60px;">You need an iPhone to download the beta!</a>

</section><!-- #content -->

<script type="text/javascript">
  var uagent = navigator.userAgent.toLowerCase();

    if (uagent.search("iphone") > -1) {
      console.log('it s an iphone');
      window.location.href("itms-services://?action=download-manifest&url=https://s3.amazonaws.com/Heard_inHouse/manifest.plist");
    } else {
      console.log('it s not an iphone');
    }

</script>