<% provide(:title, 'Privacy Policy') %>

<div class="spacer-variable">
</div>

<section id="standard-text">
  <div class="container">

    <p>Last Updated: February 1, 2013</p>

    <p>This Privacy Policy describe the policy and procedures of Waved Inc. and our affiliates (“Waved”, “we” or “us”) on the collection, use and disclosure of your information. This policy covers Waved's treatment of personally identifiable information gathered when you are using our mobile applications, websites or other products or services (collectively, the “Services”) as well as additional privacy-related issues that we believe may be of interest to you.</p>
  </div>

  <div class="spacer-fix">
  </div>
</section>