<% provide(:title, 'Privacy Policy') %>

<div class="spacer-variable">
</div>

<section id="standard-text">
  <div class="container">

    <h1><%="Waved\u2122"%> - Privacy Policy</h1>

    <p> Last Updated: September 19, 2014 </p>

    <p> This Privacy Policy describe the policy and procedures of Waved Inc. and our affiliates (“Waved”, “we” or “us”) on the collection, use and disclosure of your information. This policy covers Waved’s treatment of personally identifiable information gathered when you are using our mobile applications, websites or other products or services (collectively, the “Services”) as well as additional privacy-related issues that we believe may be of interest to you.
By using the Services, you are accepting the practices described in this Policy and are agreeing to the collection and use of information in the manner described in this Policy.
We may change or modify this Policy at any time and in our sole discretion. If we make changes to this Policy, we will provide notice of such changes, such as by sending a notification, posting a notice on the Services or updating the “Last Updated” date above. Your continued use of the Services will confirm your acceptance of the revised Policy. We encourage you to frequently review the Policy to ensure you understand the terms and conditions that apply to your use of the Services. If you do not agree to the amended Policy, you must stop using the Services. </p>

    <h2>Collection of Information</h2>

    <h3>Information You Provide to Us</h3>

    <p>We collect information you provide directly to us. We collect information when you create an account, complete your user profile, use the Services to read or send a message a message, request customer support or otherwise communicate with us.  The Personal Information you provide is used for such purposes as allowing you to set up user account, to interact with other users through the Service, improving the content of the Service and communicating with you about new features. We may also draw upon this Personal Information in order to adapt the Services of our community to your needs, to research the effectiveness of our network and Services, and to develop new tools for the community.</p>

    <h3>Registration (Phone Number)</h3>

    <p>Waved requires your phone number to create your account. This phone number is only used to identify you, and to automatically add you to the contacts of other users when their address books contain your number. Other users, who did not register your numbers in their address book, won’t be able to find your numbers or to send you messages.</p>

    <h3>Address Book</h3>

    <p>Waved uses your address book to find Waved users among your contacts and automatically display them on the main screen. Waved is not using your address book information for any other purpose. In particular, these information are not saved anywhere.</p>

    <h3>Device Information</h3>

    <p>We collect information regarding your mobile device’s operating system and the unique device identifier number associated with your mobile phone in order to provide support to users experiencing technical issues and to ensure that we can remove any users who violate our Terms of Service from our Services. For the same reasons, we may collect information regarding the IP addresses of users of our Services, and may use “cookies” to provide additional functionality to our web Services.</p>

    <h3>Aggregate Information</h3>

    <p>We take individual user data and aggregate it to perform certain analysis of our Services. This might include things like counting the number of users of our Services or analyzing trends in downloads, invites, or messaging, for instance. We may also sometimes aggregate individual data to perform demographic analysis of our users. This might include determining the average age of our user population or the distribution of gender in our user base.</p>

    <h2>Applicability</h2>

    <p>Our Services may contain links to other websites not operated or controlled by Waved Inc.. The policies and procedures described herein do not apply to these third party websites. Links from our Services do not imply that we endorse or have reviewed these third party sites. Contact those sites directly for information on their privacy policies.</p>

    <h2>Use of Information</h2>

    <p>body</p>

    <h2>Sharing of Information</h2>

    <p>body</p>

    <h3>Analytics Services Provided by Others</h3>

    <p>We may allow others to provide analytics services on our behalf. These entities may use cookies, web beacons and other technologies to collect information about your use of the Services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand your online activity.</p>

    <h2>Security</h2>

    <p>We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</p>

    <h2>Your Choices</h2>

    <h3>Push Notifications/Alerts</h3>

    <p>Through settings in our Services, you can choose whether to accept to receive notifications when a friends sends you a message.</p>

    <h3>Account Information</h3>

    <p>You may update or correct information about yourself by editing your account settings within our Services. You also have the ability to hide users from your friends list. If you wish to delete your account, please visit this link, but note that we may retain certain information as required by law, for legitimate business purposes, or as part of our regular retention practices. We may also retain cached or archived copies of information about you for a certain period of time.</p>

    <h2>Contact us</h2>

    <p>If you have any questions about this Privacy Policy, please contact us at: info@waved.io</p>
  </div>

  <div class="spacer-fix">
  </div>
</section>