<% provide(:title, 'Privacy Policy') %>

<div class="spacer-variable">
</div>

<section id="standard-text">
  <div class="container">

    <h1><%="Waved\u2122"%> - Privacy Policy</h1>

    <h2>Header 2</h2>

    <h3>Header 3</h3>

    <p>body</p>
  </div>

  <div class="spacer-fix">
  </div>
</section>