<!DOCTYPE html>
<html>
<head>
  <title>Heard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="hQG7YbifrFszCvlgNhBTwtWr8BIMgtSfpvBTG0oEkmg" />
</head>
<body>

<%= yield %>

</body>
</html>
