<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Waved App - Let your friends hear your voice.</title>
  <meta name="description" content="Waved is a one-tap voice messaging application that allows rapid-fire and seamless conversations. One screen, one gesture to play, one gesture to record, Waved aims at being simple enough to be the default way of reaching people for everyone in most situations. It offers a faster, simpler, and soon-to-be multi-platform alternative to other messaging applications." />


  <meta property="og:title" content="Waved App - Let your friends hear you voice." />
  <meta property="og:type" content="company"/> 
  <meta property="og:site_name" content="Waved App - Let your friends hear you voice."/> 
  <meta property="og:description" content="Waved is a one-tap voice messaging application that allows rapid-fire and seamless conversations." />
  <meta property="og:url" content="http://www.waved.io" />
  <meta property="og:image" content="https://s3.amazonaws.com/heard_resources/waved-fb-flyer.png" />


  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
