<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Waved - Start Talking!</title>
  <meta name="description" content="Just one tap away from having real conversations with your friends, download it now! Waved is a mobile app available on iOS and soon on Android. " />


  <meta property="og:title" content="Waved - Start Talking!" />
  <meta property="og:type" content="company"/> 
  <meta property="og:site_name" content="Waved - Start Talking!"/> 
  <meta property="og:description" content="Just one tap away from having real conversations with your friends!" />
  <meta property="og:url" content="http://www.waved.io" />
  <meta property="og:image" content="https://s3.amazonaws.com/heard_resources/waved-fb-flyer.png" />

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
