<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Waved</title>
  <meta name="description" content="Waved allows meaningful communication through voice messages." />


  <meta property="og:title" content="Waved" />
  <meta property="og:type" content="company"/> 
  <meta property="og:site_name" content="Waved"/> 
  <meta property="og:description" content="Waved allows meaningful communication through voice messages." />
  <meta property="og:url" content="http://www.waved.io" />
  <meta property="og:image" content="https://s3.amazonaws.com/heard_resources/waved-fb-flyer.png" />


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
